<h1> Your Cart </h1>
<ul>
<h2> Total: 
<% @cart.each do |product| %>
<%=product["price"]%> + 
<% end %>
<div class="row row-cols-1 row-cols-md-4 g-4">
<% @cart.each do |product| %>
<div class="col">
    <div class="card h-100" style="width: 18rem;">
    <%= image_tag product["image"],  class:"card-img-top" %>
    <div class="card-body">
        <h5 class="card-title"><%= product["name"] %>: $<%= product["price"] %> </h5>
    </div>
    </div>
    </div>
<% end %>
</div>
</ul>
<hr/>
<%= link_to "CHECKOUT", checkout_path, class: "btn btn-danger" %>