Welcome to the Shop! Please spend a lot of money $$!!

There are <%= @products.count %> Products! The first cost only <%= @products.first.price %> dollars!

<h2> Your shopping cart has <%= @cart.length %> items </h2>
<%= link_to "View Cart", cart_path, class: "btn btn-warning" %>

<ul>
<div class="row row-cols-1 row-cols-md-4 g-4">
<% @products.each do |product| %>
  <div class="col">
    <div class="card h-100" style="width: 18rem;">
      <img src=<%= product.image%>  class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %>: $<%= product.price %> </h5>
        <p class="card-text"><%=product.description %></p>
        <p> Quantity: <%= product.quantity%> </p>
        <%= link_to "Buy Now!", buy_path(product), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
</div>
</ul>
<hr/>



